<launch>
    <arg name="manager_name" default="nodelet_manager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen" />

    <node pkg="nodelet" type="nodelet" name="Compressedimg2ImgNodelet" args="load compressedimg2img/Compressedimg2ImgNodelet $(arg manager_name)" output="screen">
        <remap from="/camera/color/image_raw/compressed" to="/d400/color/image_raw/compressed" />
        <remap from="/camera/aligned_depth_to_color/image_raw/compressedDepth" to="/not_used" />
    </node>

    <node pkg="nodelet" type="nodelet" name="YoloAtlasNodelet" args="load yolo_ros/YoloAtlasNodelet $(arg manager_name)" output="screen">
    </node>
</launch>